{{define "title"}}
Index
{{end}}

{{define "main"}}
<div class="container">
<div class="row"></div>
    <div class="col">
      <a href="/create" class="btn btn-primary">Create Tasks</a>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Tasks </th>
                <th scope="col">Assign</th>
                <th scope="col">Deadline</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
             
            </tbody>
          </table>
    </div>

</div>
{{end}}